# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/Chapter1AbstractInterface/nbproject/private/
/Chapter1AbstractInterface/build/
/Chapter1Part3/nbproject/private/
/Chapter1Part3/build/
/BigExercise1/nbproject/private/
/BigExercise1/build/
/Chapter2/nbproject/private/
/Chapter2/build/
/Chapter3/nbproject/private/
/Chapter3/build/
/chapter4/nbproject/private/
/chapter4/build/
/chapter5/nbproject/private/
/chapter5/build/
/chapter9/nbproject/private/
/chapter9/build/
/chapter6/nbproject/private/
/chapter6/build/
/chapter6/dist/
/chapter7/nbproject/private/
/chapter7/build/